:root {
  --main-dark: #3521b5;
  --main-bright: #5138ed;
  --borders: #d8d4eb;
  --bright-text: #a7a5b1;
  --border-invalid: #dc143c;
  --border-valid: #00d100;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  background-color: var(--main-bright);
}

.helper {
  width: 75%;
  margin: 10% auto;
}

.left-max {
  max-width: 500px;
}

.right-max {
  max-width: 700px;
}

.header-left {
  margin-top: 10%;
  margin-bottom: 2%;
  font-weight: 700;
}

.header-right {
  font-weight: 600;
  color: #fff;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 4%;
}

.paragraf-right {
  color: #fff;
  text-align: center;
}

.h2-left {
  color: #818181;
  font-size: 18px;
  font-weight: 600;
}

.google {
  width: 100%;
  margin-top: 8%;
  margin-bottom: 5%;
  padding: 18px 30px;
  background-color: #fff;
  border: none;
  border-radius: 100px 100px 100px 100px;
  border-color: var(--borders);
  border-style: solid;
  border-width: 1px;
  font-weight: 700;
  font-size: 16px;
}

.socials {
  margin-left: 4%;
  display: flex;
  flex-direction: row;
}

.round-twitter {
  border-radius: 100%;
  margin-top: 100px;
  height: 100px;
  width: 100px;
  border: none;
}

.round-insta {
  border-radius: 100%;
  margin-top: -25px;
  margin-left: 100px;
  height: 80px;
  width: 80px;
  border: none;
}

.round-messenger {
  position: absolute;
  border-radius: 100%;
  margin-top: 400px;
  margin-left: 30%;
  height: 80px;
  width: 80px;
  border: none;
}

.google:hover {
  background-color: rgb(243, 243, 243);
}

.google-img {
  margin-right: 4%;
  vertical-align: middle;
}

.light {
  color: #b3afc5;
  width: 100%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.light:before,
.light:after {
  background-color: var(--borders);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 30%;
}

.light:before {
  right: 0.5em;
}
.light:after {
  left: 0.5em;
}

.form-input {
  display: block;
  width: 100%;
  border-radius: 100px 100px 100px 100px;
  border: 1px solid var(--borders);
  padding: 18px 30px;
  margin-top: 1%;
  margin-bottom: 5%;
}

.invalid {
  border: 2px solid var(--border-invalid);
}

.valid {
  border: 2px solid var(--border-valid);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.form-input::placeholder {
  color: var(--bright-text);
  font-weight: 700;
  font-size: 14px;
}

.checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--main-dark);
  border-radius: 25%;
  position: relative;
}

#check:checked ~ .checkmark {
  background-color: var(--main-bright);
  vertical-align: top;
}

.checkmark::after {
  content: "✓";
  color: #fff;
  position: absolute;
  font-size: 13px;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#check:checked ~ .checkmark::after {
  opacity: 1;
}

.radio-helper input[type="checkbox"] {
  -webkit-appearance: none;
}

.remember {
  margin-left: 28px;
  white-space: nowrap;
}

.inline {
  display: inline-block;
  max-width: 50%;
  margin-bottom: 5%;
}

.bold {
  font-weight: 700;
  color: #252330;
}

.forgot-helper {
  float: right;
}

.login-helper {
  display: block;
}

.login {
  background-color: var(--main-bright);
  border-radius: 100px 100px 100px 100px;
  padding: 18px 30px;
  width: 100%;
  border: none;
  color: #fff;
  margin-bottom: 5%;
}

.login:hover {
  background-color: var(--main-dark);
}

a {
  color: var(--main-bright);
  text-decoration: none;
  font-weight: 700;
}

.cards {
  display: flex;
  flex-direction: row;
  margin: 100px auto 360px auto;
}

.card1 {
  position: absolute;
  margin-left: 20%;
  min-width: 320px;
  height: 350px;
  background-color: #fff;
  z-index: 2;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  -o-transition: ease-out 0.5s;
  -ms-transition: ease-out 0.5s;
}

.card2 {
  width: 380px;
  height: 250px;
  background-color: rgb(247, 247, 247);
  margin-top: 260px;
  margin-left: 2%;
  position: absolute;
  z-index: 1;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  -o-transition: ease-out 0.5s;
  -ms-transition: ease-out 0.5s;
}

.card1:hover {
  z-index: 3;
  transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  -ms-transition: ease 0.5s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.card2:hover {
  z-index: 3;
  transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  -ms-transition: ease 0.5s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.card-heading {
  margin-top: 9%;
  margin-left: 9%;
  font-weight: 700;
}

.numbers {
  font-size: 30px;
}

.content-right {
  display: inline-block;
  width: 100%;
}

.avatar-container {
  display: flex;
  align-items: center;
  margin-top: 8%;
}

.avatar-img {
  display: block;
  margin: auto;
}

.paragraf-cards {
  text-align: center;
  font-weight: 700;
  color: rgb(167, 167, 167);
  margin-top: 6%;
  margin-bottom: 7%;
}

.card-points {
  text-align: center;
}

@media screen and (max-width: 1600px) {
  .socials {
    margin-left: 4%;
    max-height: 150px;
    display: flex;
    flex-direction: row;
    margin: 450px auto 0 auto;
  }

  .round-twitter {
    margin: 0 30px 0 110px;
  }

  .round-insta {
    margin: 0;
  }

  .round-messenger {
    margin: 0 30px 0 0;
  }

  .cards {
    margin: 100px auto 20px auto;
  }

  .card2 {
    margin-top: 160px;
  }
}

@media screen and (max-width: 1400px) {
  .card1 {
    margin-left: 12%;
  }

  .cards {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    flex-direction: column-reverse;
    max-width: 100%;
  }

  .right {
    width: 100%;
  }

  .left {
    width: 100%;
  }

  .cards {
    margin-bottom: 60px;
  }

  .card1 {
    margin-left: 25%;
  }

  .card2 {
    margin-right: 20%;
  }
}

@media screen and (max-width: 600px) {
  .card1 {
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }

  .card2 {
    display: none;
  }

  .socials {
    display: none;
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .content-right {
    margin-top: 40px;
  }

  .light:before {
    display: none;
  }
  .light:after {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .card1 {
    max-width: 85%;
  }
}
